@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    height: 80vh;
    /* border: 1px solid red; */
    display: flex;
    align-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    justify-content: center;
}

.div-esconder{
    display: block;
    transform: translate(0%,40%);
    animation-name: go-back;
    animation-duration: 1s;
    animation-direction: normal;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 80%;
    width: 70%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-content: center;
}

.titulo{
    position: relative;
    gap: 40px;
    text-align: center;
    bottom: 40px;
    font-size: 28px;
    right: 21%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-input{
    text-align: center;
}

.input-search {
   display: flex;
   flex-direction: center; 
   width: 300%;
   height:30px;
   margin-top: 10px;
   right: 98%;
   background: #fff;
   color: black;
   border-radius: 10px;
   border: none;
   outline: none;
   font-size: 20px;
   background: none;
   font-family: 'Press Start 2P, cursive';
   position: relative;
   box-shadow: 0px 1px 10px 1px #000;
   white-space: nowrap;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.campo-obrigatorio{
    background: rgba(255, 255, 255, 0.562);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 10px 1px #000;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
    animation-name: animimacao;
    animation-duration: 1s;
    animation-direction: normal;
    display: none
}


@keyframes animimacao {
    from {
        transform: translate(50px);
      }
}

.material-symbols-outlined.md-36 {
    font-size: 23px;
}

.button-pesquisa {
    position: relative;
    float:right;
    color: rgba(0, 0, 255, 0.596);
    bottom: 25px;
    left: 95%;
    cursor: pointer;
}

.button {
    align-content: center;
    text-align: center;
    padding: 20px;
}

.button-search {
    width: 100%;
    height: 35px;
    align-content: center;
    background:none;
    background-color: rgba(0, 0, 255, 0.596);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition:1s;
    bottom: 110%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.button button:hover{
    background: rgba(55, 0, 255, 0.89);
}

section .image-container{
    position: relative;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: rgba(0, 0, 255, 0.596);
}

section .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    border: 3px solid #fff;
}

.container-card{
    width: 400px;
    height: 450px;
    position: absolute;
    background: rgba(255, 255, 255, 0.562);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 10px 1px #000;
    align-content: center;
    transform: translate(-50%,15%);
    display: none;
    animation-name: animition;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes animition {
    from {
        transform: translate(-200px);
      }
}

.overlay{
    position: absolute;
    height: 28%;
    width: 100%;
    background:rgba(0, 0, 255, 0.596);
    border-radius: 25px 25px 15px 15px;
}

.container-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-card .h1-profiss{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.container-card .name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.container-card .seção-inform{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 60px;
}

.container-card .seção-inform button{
    background: rgba(0, 0, 255, 0.596);
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.seção-inform {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.sobre-class {
    display: block;    
}

/* .sobre-button {
    background: blue;
}    */

.address-class{
    display: none;
}
.company-class{
    display: none;
}

.address-card{
    margin: 8px;
}
.sobre{
    margin-top: 40px;
    text-align: center;
    color: #374151;
    border-radius: 5%;
}
.address-class{
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 40px;
    margin-left: 10px;
    color: #333;
    animation: go-back 1s;
}


.sobre-class {
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 35px;
    margin-left: -123px;
    color: #333;
    animation: go-back 1s;
}
.company-class  {
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 50px;
    margin-left: -255px;
    color: #333;
    animation: go-back 1s;
}

@keyframes go-back {
    from {
        transform: translateX(-20px);
    }
}

.close{
    position: relative;
}

/* class para exibir carde forma antiga */
.close{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    left: 178px;
    top: 5px;
}
