@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
}

.container{
    height: 80vh;
    /* border: 1px solid red; */
    display: flex;
    align-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 80%;
    width: 70%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-content: center;
}

.title{
    position: relative;
    gap: 40px;
    text-align: center;
    bottom: 110%;
    padding: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-input{
    text-align: center;
}

.input-search {
   width: 100%;
   height:30px;
   bottom: 110%;
   background: #fff;
   color: black;
   border-radius: 10px;
   border: none;
   outline: none;
   font-size: 20px;
   background: none;
   font-family: 'Press Start 2P, cursive';
   position: relative;
   box-shadow: 0px 1px 10px 1px #000;
   white-space: nowrap;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.material-symbols-outlined.md-36 {
    font-size: 23px;
}

.button-pesquisa {
    position: relative;
    float:right;
    color: rgba(0, 0, 255, 0.596);
    margin-right: 10px;
    bottom: 160%;
    cursor: pointer;
}

.button {
    align-content: center;
    text-align: center;
    padding: 20px;
}

.button-search {
    width: 23%;
    height: 35px;
    align-content: center;
    background:none;
    background-color: rgba(0, 0, 255, 0.596);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition:1s;
    bottom: 110%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.button button:hover{
    background: rgba(55, 0, 255, 0.89);
}

section .image-container{
    position: relative;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: rgba(0, 0, 255, 0.596);
}

section .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    border: 3px solid #fff;
}

.container-card{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(255, 255, 255, 0.562);
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 1px 10px 1px #000;
    align-content: center;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: go-back 1s;
}

@keyframes go-back {
    from {
        transform: translateX(-150px);
    }
}

.overlay{
    position: absolute;
    height: 28%;
    width: 100%;
    background:rgba(0, 0, 255, 0.596);
    border-radius: 25px 25px 0 0;
}

.container-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container-card .h1-profiss{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.container-card .name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.container-card .seção-inform{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 60px;
}

.container-card .seção-inform button{
    background: rgba(0, 0, 255, 0.596);
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.seção-inform button:hover{
    background:rgba(55, 0, 255, 0.89);
}

.seção-inform {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.address:focus {
    background: #6b7280;
    color: #fff;
}
.sobre-button:focus {
   background: #6b7280;
   color: #fff;
}

.company:focus {
    color: #fff;
    background: #6b7280;
}

.inform-sobre {
    display: none;
}
.inform-address {
    display: none;
}
.inform-company {
    display: none;
}

.sobre-button:focus + .inform-sobre {
    display: block;
}

.address:focus + .inform-address {
    display: block;
}

.company:focus + .inform-company {
    display: block;
}

.address-card{
    margin: 8px;
}
.sobre{
    margin-top: 40px;
    text-align: center;
    color: #374151;
    border-radius: 5%;
}
.inform-address {
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 40px;
    margin-left: 10px;
    color: #333;
    animation: go-back 1s;
}


.inform-sobre {
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 35px;
    margin-left: -123px;
    color: #333;
    animation: go-back 1s;
}
.inform-company {
    width: 90%;
    position: relative;
    border-radius: 8px;
    position: fixed;
    margin-top: 50px;
    margin-left: -235px;
    color: #333;
    animation: go-back 1s;
}

/* @keyframes go-back {
    from {
        transform: translateX(-20px);
    }
} */

.close{
    position: relative;
}

.linha{
    width: 100%;
    border-bottom: 2px solid #000000;
    position: relative;
    cursor: pointer;
}

/* class para exibir carde forma antiga */
.ocultarCard{
    position: relative;
    cursor: pointer;
    bottom: -60%;
    float:right;
}