*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #374151;
}

.container{
    height: 80vh;
    /* border: 1px solid red; */
    display: flex;
    align-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 80%;
    width: 70%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-content: center;
}

.title{
    position: relative;
    gap: 40px;
    color: #6b7280;
    text-align: center;
    padding: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-input{
    text-align: center;
}

.input-search {
   width: 100%;
   height:30px;
   color: #FFF;
   border-radius: 10px;
   border: none;
   outline: none;
   font-size: 20px;
   background: none;
   font-family: 'Press Start 2P, cursive';
   position: relative;
   box-shadow: 0px 1px 10px 1px #000;
   white-space: nowrap;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.material-symbols-outlined.md-36 {
    font-size: 23px;
}

.button-pesquisa {
    position: relative;
    float:right;
    color: #EC4899;
    margin-right: 10px;
    bottom: 50%;
    cursor: pointer;
}

.button {
    align-content: center;
    text-align: center;
    padding: 20px;
}

.button-search {
    width: 23%;
    height: 35px;
    align-content: center;
    background:none;
    box-shadow: 0px 1px 10px 1px #000;
    color: #6b7280;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition:1s;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.button button:hover{
    background: transparent;
    color: #6b7280;
}

.container-card{
    width: 400px;
    height: 600px;
    position: absolute;
    background: linear-gradient(100deg,#374151,#FFF 140%);
    border-radius: 6px;
    box-shadow: 0px 1px 10px 1px #000;
    align-content: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: go-back 1s;
}

@keyframes go-back {
    from {
        transform: translateX(-150px);
    }
}

.name-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

.image-container img{
    display: flex;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    margin-top: 10%;
}

.h1-profiss{
    text-align: center;
    margin-top: 10px;
}

button{
    position: relative;
    background: #374151;
    color: #6b7280;
    border: none;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: -5px -5px;
    cursor: pointer;
    margin-top: 20px;
    left: 2%;
}

.sobre-card{
    margin: 10px;
}
.sobre{
    margin-bottom:20px;
}

.close{
    position: relative;
    top: 8%;
}

.linha{
    width: 100%;
    border-bottom: 2px solid #000000;
}

/* class para exibir carde forma antiga */
#ocultarCard{
    position: relative;
    cursor: pointer;
    display: none;
    float:right;
}